<div class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Home</a>
      <ul class="nav">
        <li><a href="#about">About</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="span4">{{outlet}}</div>
    <div class="span8 board">Some cool stuff</div>
  </div>
</div>
