<div class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Home</a>
      <ul class="nav">
        <li><a href="#about">About</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container well">
  {{outlet}}
</div>
